node_modules
node_modules
node_modules
node_modules
node_modules
node_modules
node_modules
node_modules
node_modules
node_modules
node_modules
node_modules
node_modules
node_modules
dist/
extracted_app/dist/
*.exe
dist/**
.cache/
/.vscode/
build/
out/
.env
.DS_Store
dist/
extracted_app/dist/
*.exe
